/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/custom-styles.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.skill-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 24px; /* Adjust this value as needed */
    line-height: 1;
}

/* Layout Styles */
.resume-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 30px);
  overflow-y: auto;
}

.resume-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.resume-main {
  display: flex;
  flex: 1;
  overflow: auto;
}

.resume-content {
  flex: 1;
}

.resume-sidebar {
  position: relative;
  overflow: auto;
}

/* Header Styles */
.fixed-header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media print {
    .skill-chip {
      display: inline-flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .resume-header {
      position: static;
    }
  }
